.messages {
  height: 100%;

  // padding: 60px 150px 0 50px;
  &Title {
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 60px 40px;
  }
  &TabList {
    margin-left: 40px;
  }
  &TabPanel {
    margin: 0 40px;
  }
}
