@import '/src/variables';

$buttonBorderRadius: 10px;

.button {
  border-radius: $buttonBorderRadius; // 10px
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  transition: filter 0.2s;
  &:active {
    transform: scale(0.99);
    filter: brightness(80%);
  }
  &_PrimaryVariant {
    background-color: var(--primaryColor);
    line-height: 19.5px;
    font-weight: 700;
    font-size: 16px;
    color: var(--buttonTextColor);
    border: none;
  }
  &_OutlineVariant {
    border: 1px solid var(--primaryColor);
    background-color: #fff;
    line-height: 17px;
    font-weight: 500;
    color: var(--primaryColor);
    font-size: 14px;
  }
  &_TextVariant {
    color: var(--primaryColor);
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
  }
  &_LargeSize {
    height: $buttonLargeSizeHeight;
  }
  &_MediumSize {
    height: $buttonMediumSizeHeight;
  }
  &_SmallSize {
    height: $buttonSmallSizeHeight;
  }
  &_ExtraSmallSize {
    height: $buttonExtraSmallSizeHeight;
  }
  &_Shadow {
    position: relative;
    box-shadow: 0px 20px 15px -16px var(--buttonShadowColor);
  }
  &_Disabled {
    position: relative;
    pointer-events: none;
    &::after {
      content: '';
      position: absolute;
      box-shadow: none;
      border-radius: $buttonBorderRadius; // 10px
      opacity: 0.5;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background-color: var(--secondaryColor1);
    }
  }
  &Spinner {
    position: absolute;
    z-index: 1;
  }
}
