.button {
  background-color: #fff;
  background-color: #395dde;
  border-radius: 10px;
  color: #fff;
  height: 60px;
  width: 280px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  margin: 20px;
}

