.textArea {
  padding: 17px 18px;
  width: 54%;
  background: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #e1e2f0;
  &_SuccessStatus {
    border-color: var(--greenColor);
  }
  &_ErrorStatus {
    border-color: var(--redColor);
  }
  &_WarningStatus {
    border-color: var(--yellowColor);
  }
  &_ResizeDisabled {
    resize: none;
  }
}
