.spinner {
  display: inline-block;
  &After {
    content: ' ';
    display: block;
    border-radius: 50%;
    border-style: solid;
    animation: spinnerRing 1.2s linear infinite;
  }
}

@keyframes spinnerRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
