.switch {
  position: relative;
  height: 24px;
  width: 50px;
  background-color: var(--secondaryColor3);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.1s background-color;
  $Switch: &;
  &_Checked {
    background-color: var(--primaryColor);
    #{$Switch}Circle {
      transform: translateX(26px);
    }
  }
  &Input {
    display: none;
  }
  &Circle {
    position: absolute;
    height: calc(100% - 2px);
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.1s transform;
    z-index: 1;
  }
}
