@import '/src/scss/mixins';

.chat {
  &Messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin: 20px 0;
    @include customScrollbar;
  }
  &Message {
    position: relative;
    padding: 15px 30px;
    margin-bottom: 50px;
    max-width: 80%;
    border: 1px solid #d3e7f1;
    border-radius: 10px;
    $Message: &;
    &:last-child {
      margin-bottom: 0;
    }
    &Me {
      margin-left: auto;
      margin-right: 20px;
      background-color: #e3f2ff;
    }
    &Interlocutor {
      margin-right: auto;
      margin-left: 20px;
      background-color: #e5ffe3;
      #{$Message} {
        &Info {
          right: unset;
          left: 0;
        }
      }
    }
    &Text {
      font-size: 14px;
      color: #222222;
      word-break: break-word;
    }
    &Info {
      display: flex;
      position: absolute;
      top: -10px;
      right: 0;
      transform: translateY(-100%);
      white-space: nowrap;
      &Sender {
        font-weight: bold;
        font-size: 14px;
        margin-right: 20px;
        color: #222222;
      }
      &Date {
        font-size: 14px;
        color: #79859e;
      }
    }
  }
}
