.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 285px;
  padding: 50px 0 30px 0;
  background-color: #fff;
  box-shadow: 0px 4px 30px #dfe3e6;
  overflow-y: auto;

  &Wrapper {
    width: 285px;
    height: 100vh;
    flex-shrink: 0;
  }

  &User {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
    &Img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: gray;
    }
    &Name {
      color: #444040;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      line-height: 30px;
    }
  }

  &Menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &Item {
    }
    &Link {
      display: flex;
      align-items: center;
      column-gap: 20px;
      padding: 20px 0 20px 50px;
      font-weight: 500;
      font-size: 16px;
      color: #7e7e7e;
      transition: background-color 0.2s, box-shadow 0.2s;
      &:hover {
        background-color: #d8e2f2;
        box-shadow: 0px 4px 4px rgba(79, 121, 198, 0.11);
      }
    }
    &IconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
    }
  }

  &Button {
    display: block;
    width: 220px;
    margin: 0 auto;
    flex-shrink: 0;
  }
}
