* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

:root {
  --buttonShadowColor: rgba(32, 66, 227, 0.25);
  --primaryColor: #2042e3;
  --textColor: #222222;
  --textSecondaryColor: #79859e;
  --buttonTextColor: #ffffff;
  --secondaryColor1: #f8fafc;
  --secondaryColor2: #79859e;
  --redColor: #ff0b0b;
  --greenColor: #e5fcda;
  --yellowColor: #faf1d8;
}
