* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

:root {
  --primaryColor: #2042e3;
  --textColor: #222222;
  --textSecondaryColor: #79859e;
  --buttonTextColor: #ffffff;
  --secondaryColor1: #f8fafc;
  --secondaryColor2: #79859e;
  --redColor: #ff0b0b;
  --errorColor: #da3633;
  --successColor: #3fb950;
  --warningColor: #fe9600;
  --carouselCardShadowColor: rgba(100, 132, 194, 0.25);
  --carouselCardHoveredShadowColor: rgba(57, 93, 222, 0.4);
}
