// ComponentNameSomeThingFontSize: 20px

$inputBaseDefaultSizeHeight: 50px;
$inputBaseLargeSizeHeight: 60px;
$buttonLargeSizeHeight: 60px;
$buttonSmallSizeHeight: 50px;
$inputBaseWrapperBorderRadius: 8px;
$inputBaseWrapperBorder: 1px solid var(--secondaryColor2);
$cardBorderRadius: 20px;
