// ComponentNameSomeThingFontSize: 20px

$inputBaseDefaultSizeHeight: 50px;
$inputBaseLargeSizeHeight: 60px;
$inputBaseWrapperBorderRadius: 8px;
$inputBaseWrapperBorder: 1px solid var(--secondaryColor2);
