$inputBaseDefaultSizeHeight: 50px;
$inputBaseLargeSizeHeight: 60px;
$buttonLargeSizeHeight: 60px;
$buttonMediumSizeHeight: 50px;
$buttonSmallSizeHeight: 40px;
$buttonExtraSmallSizeHeight: 30px;
$inputBaseWrapperBorderRadius: 8px;
$inputBaseWrapperBorder: 1px solid var(--secondaryColor2);
$cardBorderRadius: 20px;

$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

:root {
  --buttonShadowColor: rgba(32, 66, 227, 0.25);
  --footerBackgroundColor: #e5f1ff;
  --primaryColor: #2042e3;
  --textColor: #222222;
  --textSecondaryColor: #79859e;
  --buttonTextColor: #ffffff;
  --secondaryColor1: #f8fafc;
  --secondaryColor2: #e1e2f0;
  --iconColor: #04cec0;
  --redColor: #ff0b0b;
  --errorColor: #da3633;
  --successColor: #3fb950;
  --warningColor: #fe9600;
  --carouselCardShadowColor: rgba(100, 132, 194, 0.25);
  --carouselCardHoveredShadowColor: rgba(57, 93, 222, 0.4);
}
