.events {
  flex-grow: 1;
  padding-top: 60px;
  &Title {
    color: #5a5a5a;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &List {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    justify-items: center;
  }
  &Item {
  }
}
