@import '/src/scss/variables';

.vacancyCard {
  padding: 20px 30px;
  width: 100%;
  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid var(--secondaryColor3);
    &:last-child {
      border-bottom: unset;
    }
  }
  &Top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    &Left {
      display: flex;
      align-items: center;
      &Icon {
        &Container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          background: linear-gradient(180deg, #fcfdff 0%, #e9f2ff 100%);
          border-radius: 50%;
        }
      }
      &Title {
        margin-left: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #222222;
      }
    }
    &Right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 10px;
      &Date,
      &Views {
        color: var(--secondaryColor2);
        font-size: 14px;
      }
    }
  }
  &Content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    &Actions {
      display: flex;
      gap: 20px;
    }
  }
  &ShowMessages {
    &Button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
    }
    &Arrow {
      &Down {
        display: flex;
        align-items: center;
        position: relative;
        width: 18px;
        height: 15px;
        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: var(--primaryColor);
          width: 3px;
          height: 18px;
          transition: transform 0.3s;
        }
        &::before {
          transform: rotate(-60deg);
          left: 0;
        }
        &::after {
          transform: rotate(60deg);
          right: 0;
        }
      }
      &Up {
        display: flex;
        align-items: center;
        position: relative;
        width: 18px;
        height: 15px;
        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: var(--primaryColor);
          width: 3px;
          height: 18px;
          transition: transform 0.3s;
        }
        &::before {
          transform: rotate(-120deg);
          left: 0;
        }
        &::after {
          transform: rotate(120deg);
          right: 0;
        }
      }
    }
  }
  &Responses {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
}

.responsesToVacancies {
  height: 100%;
}

.responseToVacancy {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ecf9ff;
  border-radius: 10px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    &Left {
      display: flex;
      align-items: center;
      &FromWho {
        color: var(--secondaryColor2);
      }
      &Name {
        font-weight: bold;
      }
      &Icon {
        &Container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          background: linear-gradient(180deg, #fcfdff 0%, #e9f2ff 100%);
          border-radius: 50%;
        }
      }
    }
  }
  &Date {
    color: var(--secondaryColor2);
  }
  &CoverLetter {
    margin: 20px 40px 30px;
    font-size: 14px;
  }
  &Actions {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    margin: 0 40px 30px;
  }
}

@media (max-width: $md) {
  .vacancyCard {
    padding: 10px;
    &Container {
      padding: 10px 20px;
    }
    &Top {
      &Left {
        &Icon {
          &Container {
            height: 40px;
            width: 40px;
            padding: 7px;
          }
        }
        &Title {
          overflow: hidden;
          flex-grow: 1;
          text-overflow: ellipsis;
          margin-left: 5px;
        }
      }
      &Right {
        &Date,
        &Views {
          white-space: nowrap;
        }
      }
    }
    &Content {
      padding-top: 10px;
      flex-direction: column;
      &Actions {
        margin-top: 10px;
        gap: 10px;
        > button {
          flex: 1;
        }
      }
    }
  }

  .responseToVacancy {
    &Top {
      padding: 10px 20px;
    }
    width: 100%;
    &CoverLetter {
      margin: 10px 20px 20px;
    }
    &Actions {
      gap: 10px;
      margin: 0 20px 20px;
    }
  }
}
